* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: hsl(0, 0%, 22%);
}
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}
main {
    display: flex;
    flex-direction: column;
}
.choices {
    display: flex;
}
.choice {
    background-color: hsl(0, 4%, 86%);
    border-color: transparent;
    border-radius: 0.5em;
    padding: 2em;
    margin: 1em;
    font-size: 1em;
    font-weight: 700;
    transition: all ease-in 0.07s;
}
.choice:hover {
    border-color: green;
}
.human-select {
    transform: scale(1.1);
    border: 1px solid green;
    box-shadow: hsl(120, 66%, 50%) 0.1em 0.1em 1.5em 0.1em;
}
.computer-select {
    transform: scale(1.1);
    border: 1px solid red;
    box-shadow: hsl(0, 61%, 50%) 0.1em 0.1em 1.5em 0.1em;
}
.scores {
    padding: 1em;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
}
.scores span {
    color: wheat;
    margin-inline: 2em;
}
#draw {
    align-self: center;
    color: orange;
    transition: all ease-in 0.2s;
}
.pop {
    transform: scale(2);
    text-shadow: hsl(29, 100%, 50%) 0.1em 0.1em;
}
.opac {
    opacity: 0;
}
.reset-game {
    background-color: hsl(0, 89%, 58%);
    border-radius: 100vmax;
    min-width: 5em;
    min-height: 5em;
    align-self: center;    
    font-size: 1em;
    font-weight: 700;
    transition: all ease-in 0.25s;
}
.reset-game:hover {
    color: rgb(48, 48, 48);
    border-color: hsl(0, 93%, 63%);
}
.reset-game-btn-animation {
    color: rgb(87, 86, 86);
    box-shadow: hsl(0, 93%, 63%) 0.2em 0.2em 1em 0.2em;
    border: none;
    transform: scale(1.1) rotate(720deg);
}